@font-face {
    font-family: 'Manrope';
    src: url('@/assets/fonts/Manrope/static/Manrope-Regular.ttf')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('@/assets/fonts/Manrope/static/Manrope-Medium.ttf') format('woff2');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('@/assets/fonts/Manrope/static/Manrope-SemiBold.ttf')
        format('woff2');
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('@/assets/fonts/Manrope/static/Manrope-Bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
}
