:root {
    --transition-duration: 0.3s;

    --color-dark: #101319;
    --color-gray-900: #161a23;
    --color-gray-700: #1f242e;
    --color-gray-500: #272d3b;
    --color-text-body: #e5edff;
    --color-secondary: #92a1bf;
    --color-purple: #725df8;
    --color-dark-purple: #282540;
    --color-green: #58e2b0;
}
